fastapi~=0.115.6
selenium~=4.12.0
pandas~=1.5.3
schedule~=1.2.2
opencv-python~=4.9.0.80
requests~=2.32.4
numpy~=1.24.4
torch~=2.6.0+cu124
gpt4all~=2.8.2
langchain~=0.3.26
SQLAlchemy~=2.0.32
urllib3~=2.5.0
whisper~=1.1.10
torchaudio~=2.6.0
soundfile~=0.13.1
sounddevice~=0.5.1
TTS~=0.22.0
librosa~=0.11.0
onnxruntime~=1.17.0
